# Caches
**/.ipynb_checkpoints/*
**/__pycache__
*.pyc
.coverage

# IDE config
.idea/
ipython_config.py
profile_default/

# Other
.env
.DS_Store
.venv
TODO.txt

# VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# https://www.gitignore.io/
